

body{
	color:white;


}

h2{
	position:relative;
	top:-120px;
	text-align: center;
}

h1{
	color:#34495e;
	text-align: center;
	
	font: 200 70px/1.5 'Pacifico', Helvetica, sans-serif;

}
#navigation{
	width:260px;
	min-height:950px;
	float:left;
	background-color:#e74c3c;
	display: none;

	}

.sidebar{
	background-color: #2c3e50;
	float:left;
	width:270px;
	color:white;
	min-height: 950px;
	margin: 0;
}

.main{
	color: #34495e;
	background-color: white;
	min-height: 950px;
	margin:0;
	
}

.avatar {
	position:relative;
	top:-120px;
	left:65px;
	display: inline-block;

}


.avatar img {
	    border: 5px solid white;
        display: block;
        border-radius: 85px; /* must be width + border */
        width: 120px;
        height: 120px;
}




#contact{
position:relative;
top:-50px;

}

.center{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}


.content{
	margin:10px;
	padding:50px;
	font-size: 18px;
	position: relative;
	float:left;
	width:950px;

}

.width700{
	margin:10px;
	padding:50px;
	font-size: 18px;
	position: relative;
	float:left;
	color: #34495e;
	width:700px;
}

.img-float{	
	perspective:1000;
	float:left;
}

.rotateit .flipper{
transform:rotateY(180deg);
}

.img-float, .front, .back {
	width: 154px;
	height: 154px;
}

/* flip speed goes here */
.flipper {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#picbox{
	position: relative;
	top:20px;

	
}


h3{
	text-align: center;
}
a{
	text-decoration: none;
	color:white;
}

a:hover{
	color: #95a5a6;
}
p{
	text-align:center;
	padding:20px;
	font-family:sans-serif;
font-weight: 300;
font-size: 20px;
padding:25px;
	color: #34495e;
}

#ribbion{
	position:relative;
	z-index: 10;
	top: 150px;
	left:-85px;
}

#up{
	position: relative;
	top:730px;
	left:210px;
	z-index: 10;
	transition: all 4s ease-in-out;
    -webkit-transition: all 4s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 4s ease-in-out; /** Firefox **/
    -o-transition: all 4s ease-in-out; /** Opera **/
}

#nav{
	position: relative;
	top:30px;
	left:20px;
	cursor: pointer;
}

#down{
	position: relative;
	top:30px;
	left:40px;
}
#upnav{
	position: relative;
	top:30px;
	left:45px;
	
}



.move-up {
    transform: translate(0,-992px);
    -webkit-transform: translate(0,-992px);
    -o-transform: translate(0,-992px);
    -moz-transform: translate(0,-992px);
}

h4{
	text-align: center;
	padding: 20px;
	border-bottom:1px solid white;
	margin:20px;
}

.polaroid {
	transition: all 1s linear;
    -webkit-transition: all 1s linear; /** Chrome & Safari **/
    -moz-transition: all 1s linear; /** Firefox **/

  position: relative;
  margin: 10px;
  margin-top: 20px;
}

.polaroid:hover{
	transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 10;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -15px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

#picdiv{
	background-color: #ecf0f1;
}

 


.coder{
	font-family: 'Josefin Slab', serif;
	font-size: 42px;
	font-weight: 900;
	margin-left:50px; 
	margin-right:50px;
}

/* Preloader */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#333; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url('http://files.mimoymima.com/images/loading.gif'); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}