@font-face {
  font-family: 'Malayalam1';
  src: url('http://jdev005.github.io/smc/fonts/Meera.ttf');
  font-weight:normal;
  font-style:normal;
}


@font-face {
  font-family: 'Malayalam2';
  src: url('http://jdev005.github.io/smc/fonts/Suruma.ttf');
  font-weight:normal;
  font-style:normal;
}